{% extends "layout.html" %}
{% block body %}
<div class="about">
{% filter markdown %}
Taehoon Kim
===========
Computer/Security/Social Network/Data mining/Python/C#</br>
</br>704-753 Dalsugu Daegu South Korea</br>
Mobile : +82 10-9964-0697</br>
e-mail : carpedm20@gmail.com</br></br>

Objective
--------
***
A part-time internship position in the field of Software Engineering</br></br>

Education
---------
***
* B.S., Computer Science</br>
* Minor in Electrical Engineering</br>
* Ulsan National Institute of Science and Technology, Ulsan</br>
* Grade : Junior</br>
* GPA : ? / 4.3</br></br>

Technical Skills
---------------
***
* Can make an application by using various programming languages in various platforms</br>
* Knowledge about the security and hacking like reversing, web hacks, system hacks etc.</br>
* Knowledge about Supercomputing, Benchmark, and compile options</br></br>

Relevant Experience
-------------------
***
**ASC 13 (Asia student Supercomputing Challenge 13) Finalist, April 2013**</br>
- By using Intel Zeon Phi coprocessor, improve the performance of well-known benchmarks</br>
**Internship at UNIST MSNL (Mobile Social Network Lab), January 2013 – Current**</br>
- Web Cache: Design a system which improves the speed of Web browsing in local AP</br>
- Hop variation between users in Social Network based on user interaction</br>
**Leader of UNIST’s Hacking Club, August 2012 – March 2013**</br>
- Participate in several CTF contests and improve the result gradually</br>
- Designing the Official Webpage of Club, Facebook bot, Kakaotalk bot and other programs</br>
**Member of official Codecademy Translation team - April 2013**</br>
- Translate codecademy service into Korean for spread of culture of Coding</br>
**Leader of UNIST's Hyundai's Autonomous Vehicle Competition - June 2013**</br>
- Present the plan of the team at Seoul National University</br>
**Representative of Korea at YGF 2013 - June 2013**</br>
- As a representative, </br></br>

Skills
------
***
* English : TOEIC score 880 - February 2012</br>
* Languages : C++, C#, Object-C, Java, Python, HTML, PHP, JavaScript</br>
* Platform : Linux, Android, Windows</br></br>
{% endfilter %}
</div>
{% endblock %}
