{% extends "layout.html" %}
{% block body %}
<div class="about">
{% filter markdown %}
<div class="date">
<h3>2012.07</h3>
</div>
Mozo Killer
---
***
Designed @ 2012.07
</br>
**Description :**
</br>
A program which bypasses the authentication system of Kird.

</br>
</br>

<div class="date">
<h3>2012.07</h3>
</div>

C++ Open Lecture at UNIST 
---
***
@ 2012.07
</br>

**Description :**
</br>

</br>
</br>

<div class="date">
<h3>2012.07</h3>
</div>

Vernerability Report for UNIST attendance system
---
***
Designed @ 2012.07
</br>

**Description :**
</br>
A program which bypasses the authentication system of Kird.

</br>
</br>
****
</br>

Robot for UNIST
===============
</br>
Designed at 
</br>
Description :
</br>

</br>
</br>
****
</br>

Portal Bot
==========
</br>
Designed at 
</br>
Description :
</br>

</br>
</br>
****
</br>

Food Bot
========
</br>
Designed at
</br>
Description :
</br>

</br>
</br>
****
</br>

Facebook Access Key Automation
==================================
</br>
Designed at
</br>
Description :
</br>

</br>
</br>
****
</br>

Facebook Parsing Bot
====================
</br>
Designed at
</br>
Description :
</br>
A robot which parse the database of well-known social network Facebook, which has more then one million users.

The main process is diveded into two, one is parsing information of user's Wall and insteractions with other users like comments, likes on post etc. Secons is parsing the friend list of user.

</br>
</br>
****
</br>

HeXA Bot
========
</br>
Designed at 
</br>

Description :
</br>

A robot which automatically answer to messages of Kakaotalk which is major mobile messanger platform in Korea.
</br>
</br>
*****
</br>

Blog powered by Flask
=====================
</br>
Designed at 
</br>

Description :
</br>


</br>
</br>
*****
</br>

{% endfilter %}
</div>
{% endblock %}
